.input,
.todo-content {
  border: 1px solid #ccc;
  font-family: inherit;
  font-size: inherit;
  padding: 1px 6px;
}

.input-wrap {
  position: relative;
}
.input-wrap .input {
  position: absolute;
  width: 100%;
  left: 0;
}
.width-machine {
  
  padding: 0 1rem;
}

.todo-content {
  display: block;
  overflow: hidden;
  min-height: 40px;
  line-height: 20px;
  padding: 16px 20px;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 100;
}


.todo-content[contenteditable]:empty::before {
  
  color: gray;
  margin-bottom:10px;

}

body {
  font-family: "Heebo", sans-serif;
  max-width: 400px;
  margin: 0 auto;
  padding: 1rem;
}

p strong {
  display: block;
}
h1 {
    align-items: center;
  border-bottom: 5px solid #44b886;
  text-align: center;
}
h2 {
  border-bottom: 2px solid #44b886;
  text-align: center;
}

.currentuser {
    width: 100px;
    margin-left: 30px;
}

.logout{
    background-color: #409173;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 100;
}

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */
.add {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  bottom: 23px;
  right: 28px;
  width: 100%;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.todo-form {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}



.content{
    background-color: #ffffff;
    color: black;
    text-align: center;
  border: none;
  cursor: pointer;
  width:100%;
  list-style-type: none;
  padding: 10px 10px;
  opacity: 100;
}


.contenttitle{
    background-color: #ffffff;
    color: black;
    text-align: center;
  border: none;
  cursor: pointer;
  width:100%;
  padding: 10px 10px;
  opacity: 100;
}

.typediv{
    background-color: #ffffff;
    color: black;
    text-align: center;
  border: none;
  cursor: pointer;
  width:100%;
  padding: 10px 10px;
  opacity: 100;
}

.todo-task-type{
    background-color: #63ada0;
  color: white;
  text-align: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  width:100%;
  opacity: 100;
}

.container{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.type{
    background-color: #63ada0;
    color: white;
    text-align: center;
    align-content: center;
    border: none;
    cursor: pointer;
    width:300px;
    padding: 20px 20px;
    opacity: 100;
}
/* Set a style for the submit/login button */
 .btn, .create {
  background-color: #409173;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 100;
}

.tasktype {
    
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 100;
}

 .date {
  
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  align-content: center;
  width: 100%;
  margin: 20px ;
  margin-bottom:10px;
  opacity: 100;
}

.content{
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 100;
}

/* Add a red background color to the cancel button */
.close {
    background-color: rgb(255, 106, 106);
  }

/* Add some hover effects to buttons */
.todo-form, .btn:hover, .open-button:hover {
  opacity: 1;
}


.todo-end-date{

  border: 10px;
  cursor: pointer;
  align-items: center;
  text-align: center;
  width: 50%;
  opacity: 100;
}

.datediv{
padding: 10px 20px;
  border: 10px;
  cursor: pointer;
  align-items: center;
  align-content: center;
  text-align: center;
  width: auto;
  
  margin-bottom:10px;
  opacity: 100;
}

.datetitle{
    color: black;
    text-align: center;
    align-content: center;
    border: none;
    cursor: pointer;

}

.login {
    background-color: #3d8174;
    color: white;
    text-align: center;
    align-content: center;
    border: none;
    cursor: pointer;
    width:300px;
    padding: 20px 20px;
    opacity: 100;
}

.register {
    background-color: #587fba;
    color: white;
    text-align: center;
    align-self:  center;
    border: none;
    cursor: pointer;
    width:300px;
    padding: 20px 20px;
    opacity: 100;
}

.mainbtn{
    align-items: center;
    margin-left: 30px;
}


